@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: black;
}

.App {
  margin: 35px 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.title {
  border-bottom: solid 2px rgb(255, 170, 0);
}

.nav-container {
  width: 100%;
  background: hsla(210, 2%, 18%, 0.75);
  padding: .5em;
  border-radius: 12px;
  border: 1px solid rgb(67, 67, 67);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
  padding: 20px 15px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(255, 170, 0);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 25px;
  margin: 15px 0 15px 0;
  border-radius: 20px;
  border: 1px solid rgb(67, 67, 67);
  background: hsla(210, 2%, 18%, 0.75);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-img {
  border-radius: 50%;
  border: 1px solid white;
}

.img-container {
  width: 180px;
  height: 180px;
  background: rgb(67, 67, 67);
  padding: 10px;
  border-radius: 20px;
}

.contact-title {
  width: 250px;
  height: 25px;
  background: rgb(67, 67, 67);
  border-radius: 8px;
  border: 1px solid hsla(210, 2%, 18%, 0.75);
}

.sidebar-button {
  padding: .8em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  background: white;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  cursor: pointer;
  outline: none;
}

.sidebar-button:hover {
  background-color: rgb(250, 179, 35);
  color: white;
  transform: translateY(-7px);
}

.sidebar-button:active {
  transform: translateY(-1px);
}

.contacts-list {
  list-style-type: none;
}

.contact-img {
  border-radius: 50%;
}

.contact-link {
  text-decoration: none;
  color: rgb(255, 170, 0);
}

.location-img {
  border-radius: 50%;
  border: 3px solid white;
  height: 40px;
}

.contacts-item {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: flex-end;
}

.contacts-info {
  text-align: left;
  margin: 20px;
}

.github {
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
}

.linkedIn {
  border-radius: 50%;
  border: 2px solid white;
}

.socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5px;
  list-style-type: none;
}

.about-page {
  width: 100%;
  display: flex;
}

.contact-sidebar {
  flex: 1;
  margin: 35px 15px 0 0;
}

.about-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: left;
  border-radius: 20px;
  border: 1px solid rgb(67, 67, 67);
  background: hsla(210, 2%, 18%, 0.75);
  margin: 50px 0 25px 25px;
  padding: 40px;
}

.about-header {
  font-weight: bolder;
  border-bottom: solid 2px rgb(255, 170, 0);
}

.doing-title {
  font-weight: bolder;
}

.about-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 5px;
}

.about-center {
  padding: 1%;
  text-align: center;
}

.about-tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  list-style-type: none;
  padding: 5px;
}

.about-list {
  margin: 5px;
}

.resume-page {
  width: 100%;
  display: flex;
}

.resume-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: left;
  border-radius: 20px;
  border: 1px solid rgb(67, 67, 67);
  background: hsla(210, 2%, 18%, 0.75);
  margin: 50px 0 25px 25px;
  padding: 40px;
}

.resume-title {
  font-weight: bolder;
  border-bottom: solid 2px rgb(255, 170, 0);
}

.here {
  text-decoration: none;
  color: rgb(255, 170, 0)
}

.date {
  color: rgb(255, 170, 0)
}

.project-page {
  width: 100%;
  display: flex;
}

.project-container {
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: left;
  border-radius: 20px;
  border: 1px solid rgb(67, 67, 67);
  background: hsla(210, 2%, 18%, 0.75);
  margin: 50px 0 25px 25px;
  padding: 40px;
}

.project-title {
  font-weight: bolder;
  border-bottom: solid 2px rgb(255, 170, 0);
  margin-bottom: 50px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
}

.project-img {
  border-radius: 16px;
}

.project-img:hover {
  border:rgb(255, 170, 0) solid 2px;
  transform: translateY(-7px);
}

